body {
    margin: 5px;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    color: #637282;
    font-weight: normal;
    letter-spacing: -.3px;
}


/*.navbar-toggler{
    padding: 5px;*/


}
li {
    margin-left: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Google Sans", sans-serif;
}
div>img {
    margin: 5px;
    padding: 20px;
    align-items: center;
}
.title {
    color: black;
    font-size: 18px;
}
p>button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #360dd9;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-family: "Google Sans", sans-serif;
    font-size: 18px;
    border-radius: 25px;
}
.card>a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
p>button:hover,
div>a:hover {
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#green {
    background-color: green;
}
.buffer {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    /*  border-radius: 15px;*/
    
    margin: 40px;
    padding: 5px;
    height: 50px;
}
footer {
    text-align: center;
    justify-content: center;
}
.first-of-footer-widge {
    text-align: center;
}
.social-list__inline li {
    display: -webkit-inline-box;
    display: inline-flex;
}
.footer-widget>ul {
    display: inline;
}
@media (max-width: 768px) .footer-widget {
    margin-bottom: 30px;
}
@media (max-width: 768px) .first-of-footer-widget {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}