<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.6.3/css/all.css">
    <link rel="stylesheet" href="static/assets/css/team.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
    {% include "includes/_navbar.html" %}
    <section>
        <div class="container">
            <h1 class="heading">Meet The Team</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/pp.jpg" alt="profile image" class="profile-img">
                    <h1>Poornchandra Kashi</h1>
                    <p class="Job-Title">Community Lead</p>
                    <p class="Job-Title">Backend Developer</p>
                    <a href="Tel: 8904700354" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/jeyshri.jpeg" alt="profile image" class="profile-img">
                    <h1>Jeyshri L S</h1>
                    <p class="Job-Title">Management Lead</p>
                    <p class="Job-Title">Data Science</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="http://www.linkedin.com/in/jeysri-l-s"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/manoj.jpeg" alt="profile image" class="profile-img">
                    <h1>Manoj S</h1>
                    <p class="Job-Title">Technical Lead</p>
                    <p class="Job-Title">Machine Learning</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/manoj-s-8b6188181"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/paranom_man/?hl=en"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/harsha.jpeg" alt="profile image" class="profile-img">
                    <h1>Harshavardhan M</h1>
                    <p class="Job-Title">Media Lead</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/inharshav/"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/in.harshav/"><i class="fa fa-facebook-official"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/in.harshav/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/puneeth.jpeg" alt="profile image" class="profile-img">
                    <h1>Puneeth Nandan Jha</h1>
                    <p class="Job-Title">Master Designer</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/puneetpnj?igshid=5pnn5emmu2zl"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>

                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/deepak.jpeg" alt="profile image" class="profile-img">
                    <h1>Deepak D</h1>
                    <p class="Job-Title">Digital Marketing</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/likhi.jpeg" alt="profile image" class="profile-img">
                    <h1>Likhith R Gowda</h1>
                    <p class="Job-Title">Web Devolopment Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/likhith-gowda-7aa9251b0"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/likhith_r_gowdaa/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/asif.jpeg" alt="profile image" class="profile-img">
                    <h1>M D Asif</h1>
                    <p class="Job-Title">Web Development Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/aasif-ali-323626193/"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/asif.mansury.121/"><i class="fa fa-facebook-official"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/aasif_ali_23/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>



                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/sushma.jpeg" alt="profile image" class="profile-img">
                    <h1>Sushma N</h1>
                    <p class="Job-Title">Sponsorship and Logistics</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/sushma-n-3227791b4"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/sushma.nagaraj.104"><i class="fa fa-facebook-official"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/sushma.nagaraj_"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/chetana.jpeg" alt="profile image" class="profile-img">
                    <h1>Chetana</h1>
                    <p class="Job-Title">Women Tech Lead</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/chetana-panda-0100a5192/"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100009432617352"><i
                                    class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/pandachetana/?hl=en"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/leander.jpeg" alt="profile image" class="profile-img">
                    <h1>Leonder Joseph</h1>
                    <p class="Job-Title">Management Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://linkedin.com/in/leander-joseph-152149b7"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://m.facebook.com/leander.joseph.10?ref=bookmarks"><i
                                    class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/lee_11_mac?igshid=kq8q1jve0ms4"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/manisha.jpeg" alt="profile image" class="profile-img">
                    <h1>Manisha Shaju</h1>
                    <p class="Job-Title">Management Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/manisha-m-shaju-b743981b4"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/_.manishaaa.__?igshid=sc7i7jfosdjg"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/.jpeg" alt="profile image" class="profile-img">
                    <h1>Dawood</h1>
                    <p class="Job-Title">Content writing</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/chandana.jpeg" alt="profile image" class="profile-img">
                    <h1>Chandana</h1>
                    <p class="Job-Title">Content Writing</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/chandana-t-700648159"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/shibangi.jpeg" alt="profile image" class="profile-img">
                    <h1>Shibangi Lodh</h1>
                    <p class="Job-Title">Women Tech Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/shibangi-lodh-4a07121b6"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/_happyvibe_/?hl=en"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/navya.jpeg" alt="profile image" class="profile-img">
                    <h1>Navya</h1>
                    <p class="Job-Title">Media Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/dhanush.jpeg" alt="profile image" class="profile-img">
                    <h1>Dhanush</h1>
                    <p class="Job-Title">Machine Learning Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/ns-dhanush-204977188"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/dhanush_nsd/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>




            <div id="supp">
                <h1>SUPPORT TEAM</h1>

                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/.jpeg" alt="profile image" class="profile-img">
                    <h1>Ramya</h1>
                    <p class="Job-Title">Web Development Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/ramya-l-reddy-7b40121a1(Ramya)"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="card">
                    <img src="static/images/team_images/card.bg.jpg" alt="card background" class="card-img">
                    <img src="static/images/team_images/.jpeg" alt="profile image" class="profile-img">
                    <h1>Vishwas Upponi</h1>
                    <p class="Job-Title">Designing Team</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/ramya-l-reddy-7b40121a1(Ramya)"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
    </section>
</body>

</html>